[2020-11-19 05:45] michaelhays opened #1 "Pass opts to BabelPluginIstanbul options"
Thanks so much for this plugin, I would've been clueless without it!

Not sure if you're planning to continue maintaining this, but I had to tweak it a bit in order to instrument `.vue` files. Where [`plugins` is defined](https://github.com/iFaxity/vite-plugin-istanbul/blob/737ef2aea931b04e794d73cb044ed3cd42765a13/src/transform.ts#L14) (which is later passed to Babel's `transformSync` function), I

[2020-11-19 06:22] michaelhays commented on #1
Spoke too soon; while this does instrument the `.vue` files, it does so on the JavaScript transpiled version rather than the original single-file component, so the line numbers don't match up. See [here](https://codecov.io/gh/awesomepowertexas/awesomepower/src/8dd7e5075bc475728d9078ce3a94c0e82e99e943/web/src/components/Landing/ViewPlans.vue) -- the green lines should correspond to the script at th

[2020-11-21 16:43] iFaxity commented on #1
Hi, yes i intend to keep maintaining this as i depend on it in other projects i have, however i have only tested it with JS and not any custom transforms like JSX or Vue's SFC. I only have time on the weekends to go on GitHub and to spend time on my projects, which is why i only saw the issue now.

I'll look into the issue and get back when i have a solution, i'll fork your project to be able to r

[2020-11-21 22:12] michaelhays commented on #1
Hey appreciate the response! Yeah no worries of course, I checked in in case you had any quick ideas, but no need to dig too hard. I may actually make a PR to Vite to see if they'll pass the map to `transform`, since that solves the issue for my use case

[2021-01-08 14:35] iFaxity commented on #1
@michaelhays Hey, it seems that there is now a way to get the source map in the Vite 2.0 beta, it seems that there is an added method called [getCombinedSourcemap](https://github.com/vitejs/vite/blob/da3dfdf4aad9b6424f7998c9dbc42a2f816892ae/packages/vite/src/node/server/pluginContainer.ts#L330-L332) that generates the current source map from all the previous transforms.

I'll adjust the plugin and

[2021-01-08 19:26] michaelhays commented on #1
Hey thanks so much for the help. I'd tried some things with the map in the Vite 2.0 beta, but hadn't seen `getCombinedSourcemap` -- definitely seems like that's the right approach.

I ended up going with this:

[code]

This plugin runs before the Vue plugin. Basically, for `.vue` files, it takes whatever content is between the `<script>` tags, instruments only that, and inserts it back into the or

[2021-01-08 20:09] iFaxity commented on #1
No I'll fix it because I need to update the package anyways to fit the new plugin spec. I'll work on a patch this weekend. I'll report back when it's done so you can check if it works.

[2021-01-10 22:37] iFaxity commented on #1
@michaelhays Hey again, version 2.x of the plugin is now compatible with Vite 2.0, also added the aforementioned patch with the source maps. Could you please verify if it seems to work well with the coverage in your project?

[2021-01-11 00:49] michaelhays commented on #1
A few issues I'm having:

1. Looks like Babel's `transformSync` expects `inputSourceMap` to be a plain object, while `this.getCombinedSourcemap()` yields a `SourceMap` (I think? It outputs `SourceMap { ... }` to the console).

Error I was getting:

[code]

I fixed this by changing [this line](https://github.com/iFaxity/vite-plugin-istanbul/blob/41264535ae9438f5cc7c2633cb61f24f52d54ead/src/index.ts

[2021-01-17 22:33] iFaxity commented on #1
Weird, i'll get back to this in a week or so and see if i can add the fix you provided earlier, maybe do the fix only if the id contains a .vue extension.

Thanks for describing the other bugs with the SourceMap too.

[2021-03-19 21:34] JacobMGEvans opened #2 "Breaking changes in Vite"
Seems to be breaking with a recent version of Vite 2.1.2

reverting Vite back to 2.0.1 fixed this fatal error
[code]

[2021-03-24 17:24] sdvinfo commented on #1
It looks like this plugin is still not working. I tried to get Cypress to work with it for three days, but to no avail.
As a result, the plugin from @michaelhays completely solved my problem for today.
Thank @michaelhays!
@iFaxity we are waiting for the development of the project. ;)

[2021-03-24 18:07] iFaxity commented on #2
Hello @JacobMGEvans, do you have a way to reproduce this? Seems hard to debug due to the ambiguous error message.

I'm thinking that it is in fact a syntax error from a library file within a babel utility function, could be because of some new syntax babel doesn't support out of the box. Or something babel supports in a more recent version.

[2021-03-24 18:08] iFaxity commented on #1
Thanks for reminding me, I've taken an unplanned break from coding in my freetime. But I will look into @michaelhays solution again and see if I can integrate something based on that. I remember not doing it before because I thought there was a better solution. However I will push out an update today or tomorrow.

[2021-03-25 05:09] michaelhays commented on #1
Glad it was helpful @sdvinfo! :)

A couple of other things that I've done since then that might help: the plugin doesn't generate a source map, so the files loaded in the browser will contain the instrumented code. This can make debugging difficult, so I added an environment variable to only instrument the code when running Cypress tests.

In `vite.config.js`:

[code]

Similarly, in the Cypress pl

[2021-03-25 05:10] michaelhays commented on #1
Yeah @iFaxity my solution was definitely a bit hacky -- I know very little about instrumenting or source maps, so I went with the most "direct" way to instrument the `<script>` section for Vue SFCs. But I'm fairly certain there's a better solution.

[2021-03-25 07:48] iFaxity commented on #1
Yeah me neither, ill add the ENV variable too so it doesn't break your code. 👍

[2021-03-25 16:50] iFaxity commented on #2
Upon further analysis this might be due to a mismatch between babels source mapping and the source mapping returned from Vite. As Michael described in this issue #1.

[2021-03-25 16:51] iFaxity commented on #2
I will push out a patch for this later today after I've reproduced the error first.

[2021-03-25 21:32] iFaxity commented on #2
Version 2.1.0 should fix it, can you verify it is working on your end as well so this can be marked as resolved?

[2021-03-25 21:37] iFaxity commented on #1
Version 2.1.0 should fix this, I ended up using the env variable VITE_COVERAGE instead. Then you can also use the new cypress option along with requireEnv to explicitly require the CYPRESS_COVERAGE variable to be set in order to instrument the code.

I haven't tested it thoroughly though, only tested with simple Vite demos of React and Vue. Can you verify that it is working?

[2021-03-26 15:41] JacobMGEvans commented on #2
I cannot, the project is Open Source I was just helping on something.

[2021-03-26 15:42] JacobMGEvans commented on #2
@HorusGoul if you are interested in trying the update, it looks like it should work now in your project.

[2021-03-28 23:07] HorusGoul commented on #2
I upgraded the package, it seems to be solved :tada:

Thank you!

[2021-06-03 08:47] #2 closed

[2021-07-11 02:50] elevatebart commented on #1
In the PR above, I managed to have coverage with @cypress/vite-edv-server by making sure the instrumentation transform is done last, on simpler JS. I am not even sure that the babel options are necessary. Nor the special treatment of Vue SFC files.

Tell me what you think.

[2021-07-14 01:50] #1 closed

[2021-10-06 17:15] KaelWD opened #8 "bug: sourcesContent isn't escaped"
[code]
Is transformed to
[code]
Resulting in `Uncaught SyntaxError: Unexpected identifier` at runtime

[2021-10-06 19:45] iFaxity commented on #8
Hmm, this is probably caused by an underlying API. Such as the this.getCombinedSourcemap() function returning malformed data.

This needs some investigation will make some POC project and see what causes this.

[2021-10-08 02:33] nightah opened #9 "v2.2.1 breaks existing setups"
https://github.com/iFaxity/vite-plugin-istanbul/commit/98bf77dbaa29ee8acfee426ae8177d8a2804a482 introduced a breaking change for existing setups.

We now cannot instrument code with a mode of production because it will bail out after the first conditional is met.

Could we perhaps remove the mode conditional? I would be happy to submit a PR I just would like to understand what would be accepted.

[2021-10-16 23:06] iFaxity commented on #9
However you are correct in that the commit in question did break existing setups. But logically the check was too lax, we only want instrumentation if:

1. We are in running Vite in a non production environment
2. The environment variable is false (config dependent) OR true depending on requireEnv is set.

[2021-10-20 23:16] #9 closed

[2021-12-20 08:31] yann-combarnous opened #12 "[bug] VITE_COVERAGE not taken into account if set in .env file"
VITE_COVERAGE value is taken from process.env in this plugin. But according to https://vitejs.dev/guide/env-and-mode.html#env-files, we should be able to set env variables in .env files as well.

When setting VITE_COVERAGE in .env file, this plugin is not reading the value, if requireEnv is true.

[2021-12-24 22:44] iFaxity commented on #12
Hi @yann-combarnous , yes this is unfortunately the case.
There seems to be a utility method in Vite to load env variables.

I will look into this and publish a new version once the fix is implemented.

[2022-01-17 19:25] iFaxity commented on #12
Hello, this is now added with the new release v2.4.0 (4accd4a)

[2022-01-17 19:25] #12 closed

[2022-01-26 16:14] wanbinkimoon opened #13 "Plugin not working along with cypress"
Cannot make this work here is my config

`vite.config.js`
[code]

`cypress/plugins/index.js`
[code]

`cypress/support/index.js`
[code]

cypress work as expected but no `window.__coverage__` is found in dev mode

I receive this error
[code]

[2022-01-28 03:21] songjiachao opened #14 "bug: Vue3 coverage incorrect"
![image](https://user-images.githubusercontent.com/70792885/151481608-983145d6-cf52-4a28-9360-25cdbc60d83a.png)

srcCode not the true source， so the coverage will be incorrect

the App.vue just has 21 line， but the coverage has 56

![image](https://user-images.githubusercontent.com/70792885/151481826-49d29342-5492-4d78-b6cd-bcb4b1acc345.png)

[2022-01-30 23:39] wanbinkimoon commented on #13
Apparently the plugin works only in `component testing` mode

Closing the issue, please update the docs as it's not stated anywhere.

[2022-02-02 23:17] iFaxity commented on #13
Hi @wanbinkimoon, absolutely. I will look into why it is only working in the component testing mode. It might be how cypress sends in env variables to the plugin. I am fairly sure this has worked in the past with previous versions of the package.

[2022-02-04 08:54] wanbinkimoon commented on #13
@jordan-boyer I arrived at the same conclusion with less precision than yours, dunno about the `start-server-and-test preview http://127.0.0.1:5050/ 'cypress open'` command but yep cypress is definitely running the code in the `dist` folder while the coverage is not there.

+1 on the diagnosis, @iFaxity any idea how we should fix this?

[2022-02-05 19:51] iFaxity commented on #13
In @jordan-boyer's case Vite  seems to be running in preview mode `start-server-and-test preview http://127.0.0.1:5050/ 'cypress open'`. Which launches Vite as only a static server which serves the output from build.

Is this the case for you aswell @wanbinkimoon?

This plugin has a restriction to only run in the "serve" mode of Vite. This is to prevent accidental builds to dist with code coverage

[2022-02-07 08:18] jordan-boyer commented on #13
@iFaxity I think i understand the solution, do you want me to do a PR about it ?

[2022-02-07 08:36] iFaxity commented on #13
@jordan-boyer Sure go ahead, that would be greatly appreciated.

[2022-02-07 16:49] jordan-boyer commented on #13
I'm still missing something, i'm able to instrument the code in build mode but cypress is looking for the coverage in window.__coverage__ but i don't understand how it is injected ^^'

I've tried to inject it in the index.html with the `transformIndexHtml` but global.__coverage__ is always undefined

[2022-02-08 09:39] wanbinkimoon commented on #13
@jordan-boyer do you have an example we could look at and sort out something together?

[2022-02-08 10:15] wanbinkimoon commented on #13
also https://github.com/cypress-io/code-coverage/issues/539

[2022-02-08 10:42] jordan-boyer commented on #13
Ofc, here what I've done : https://github.com/jordan-boyer/vite-plugin-istanbul/tree/feat/force-instrument-in-build-mode

In your project you juste have to do `plugins: [vue(), istanbul({ forceBuildInstrument:  true })],`.

I think i'm on the right track to solve the problem but i'm just missing one critical piece

[2022-02-08 14:38] jordan-boyer commented on #13
Well here it is : https://github.com/iFaxity/vite-plugin-istanbul/pull/15

[2022-02-09 23:49] iFaxity commented on #13
#15 just released as part of v2.5.0.

Thanks for the great work.

[2022-02-09 23:49] #13 closed

[2022-02-09 23:53] iFaxity commented on #14
Hi @songjiachao, the Istanbul instrumenter should handle the inputSourceMap from the source code (srcCode). Therefore it doesn't need the true source as it works with the original source from the sourceMap.

I'll look into it and see what is causing the instrumenter to not handle the sourceMap correctly.

[2022-02-10 12:00] wanbinkimoon commented on #13
I'll test it in the next hours and give you feedbacks on this, in the mean time thank you for the effort <3

[2022-02-11 03:34] songjiachao commented on #14
Thank you very much !
I  alse created a discussion in vite repository .you can have a look.
[https://github.com/vitejs/vite/discussions/6831](https://github.com/vitejs/vite/discussions/6831)

[2022-02-17 09:21] matrunchyk commented on #8
Any updates on it? We would like to use this nice plugin for instrumentation our apps, but this issue is a real bummer for us.

[2022-02-17 10:15] clluiz opened #16 "doc: Update documentation to clarify what env means in requireEnv"
The description of the option requireEnv is not clear:

`Optional boolean to require env to be true to instrument to code, otherwise it will instrument even if env variable is not set`

Is env an environment variable? A environment file? If not where it should be defined?

[2022-02-17 21:22] iFaxity commented on #8
Hi @matrunchyk , yes I've done some analysis on this but I cant seem to figure out in what scenario this error occurs.

The demo project used in the analysis will be uploaded soon (placeholder for link here).

Otherwise just the fact that `process.env.NODE_ENV` is replaced in @KaelWD's example it just seems that there is some other pre-processor used to replace the variable with the environment co

[2022-02-17 22:36] matrunchyk commented on #8
Oh, I didn't know about `import.meta.env.MODE`. I will try it and reply here. In all other means — I have already tried the plugin and it works as a charm! Thank you again for sharing this repo @iFaxity!

[2022-02-17 23:07] iFaxity commented on #16
Hi @clluiz, yes the documentation is not really in cleartext I'm sorry. I will correct it to clarify that it relates to the *VITE_COVERAGE* or *CYPRESS_COVERAGE* variable if the `cypress` configuration option is set to true.

[2022-02-17 23:10] iFaxity commented on #16
So if `requireEnv` is set to **true**, the *VITE_COVERAGE* environment variable is required to be `true` in order for instrumentation to be permitted.

If however `requireEnv` is set to **false** (which is the default state), instrumentation is permitted if the *VITE_COVERAGE* environment variable is not set to **true**. So effectively the inverse.

[2022-03-01 21:29] AndrewLeedham opened #18 "Warns about sourcemaps even when plugin is disabled"
The error message `Sourcemaps not enabled and will be automatically enabled for code coverage to be accurate.` seems to be shown regardless of whether the plugin is currently being used. Would it be feasible to check `requireEnv` etc. before trying to enable source-maps?

[2022-03-01 23:16] iFaxity commented on #18
Hi @AndrewLeedham, _maybe_.

The message is printed when the sourcemaps config is forced.
Which is needed to be added _before_ config is resolved in accordance to other plugins.

However the requireEnv check is not made from _after_ the config is fully resolved.

This might be able to fixed in some way, this was more or less a dirty fix in order to fix a previous issue.

[2022-03-02 21:14] iFaxity commented on #18
The "fix" to this is to just set the Vite config `build.sourcemap` to **true**.

I will be submitting a PR to allow "inline" and "hidden" aswell.

Otherwise i don't see a solution to change where the message is set without lying to the user. And probably case headaches as to why sourcemaps are being generated when the plugin is effectively disabled.

[2022-03-06 15:06] iFaxity commented on #16
Released in v2.5.1.

[2022-03-06 15:06] #16 closed

[2022-03-06 15:06] iFaxity commented on #18
Released in v2.5.1.

[2022-03-06 15:06] #18 closed

[2022-03-07 11:51] AndrewLeedham commented on #18
@iFaxity I think the confusion for me is because I am building a component library in lib mode in my `vite.config.ts`, and I don't want sourcemaps to be generated as they aren't used in the consumer and just slow things down for my use case. However, I am using the config and this plugin for Cypress, and want them enabled there.

[2022-03-07 11:58] iFaxity commented on #18
Aha I see @AndrewLeedham.

Personally I would recommend having different Vite configs for test and actual builds. Or conditionally applying plugins based on configuration.

An alternative is for the plugin to do the reverse, to warn the developer of there not being any sourcemaps and print a warning regarding it. This is more logical to me as setting config is a dirty fix.

[2022-03-07 12:00] iFaxity commented on #18
I would consider the alternative solution as a breaking change and require a version bump to v3.0.0.

[2022-03-22 10:01] madiodio commented on #13
Can anybody confirm this is actually working ? Cc @wanbinkimoon

[2022-03-22 10:03] wanbinkimoon commented on #13
yes it is :)

[2022-03-22 21:31] charleshimmer opened #22 "instrument react source code with cypres"
I've read through issue #13, and it seems this is possible but I can't seem to get it to work. I'm trying to instrument the code for when a cypress component test is ran. Here is my current setup.

[code]

[code]

I have tried various configurations of the istanbul vite plugin but I can't seem to get it to instrument the source code. Cypress is correctly looking for a coverage report, I just seem

[2022-03-22 21:38] charleshimmer commented on #22
I should also add I have tried the `forceBuildInstrument` config option but given this is a component test I don't think that applies to my setup.

[2022-03-23 01:42] charleshimmer commented on #22
Had to read through the source code but finally figured out what I needed for it to work. Cypress component testing still uses vite in `serve` mode so did not want `forceBuildInstrument` on. Needed the following config for it to work for me:

[code]

[2022-03-23 14:33] jeppe-smith opened #23 "Filenames include query string making them invalid"
I have an issue with the filenames containing an appended query string (eg. `src/views/UsersIndex.vue?vue&type=template&lang.js`) in the instrumentation. This causes our CI to fail when it tries to upload our coverage.

After looking around I changed transform method to the following to get rid of the query string.

[code]

[2022-03-31 18:21] reintroducing opened #24 "Does not honor package.json nyc settings"
I'm migrating from webpack to Vite and using this plugin which instruments the code properly. Unfortunately something I noticed is that it does not support settings set through the `nyc` key in `package.json`. Previously, I had this:
[code]
When migrating, that no longer works. I think that I can use the `exclude` option in the plugin config, but it would be great if this plugin also supported the

[2022-04-03 21:14] iFaxity commented on #23
Hi @jeppe-smith, great finding!

I will create a pull request with this change and run some tests to see if it works in my setup aswell.

[2022-04-03 21:26] iFaxity commented on #24
Hello @reintroducing!

Absolutely, this didn't really cross my mind when adding the options. I will look into this and add support for the options the plugin supports. As this plugin really supports include, exclude and extension options that **nyc** uses.

The **nyc** CLI is both an instrumenter and reporter while this plugin is *mearly* an instrumenter and relies on Cypress or any other alternat

[2022-04-03 22:07] iFaxity commented on #23
There appears to be an official way to get the file name from the reference id. As Vite uses Rollups plugin system in the background, it shares some of it's API: [this.getFilename](https://rollupjs.org/guide/en/#thisgetfilename). I will try this and see if it gets the desired results.

[2022-04-05 16:52] iFaxity commented on #24
@reintroducing It is possible to merge different reports together into one.

For example if you have Unit and Integration tests in Jest or Mocha running with `nyc` on the backend. Also E2E testing in Cypress which uses the Backend API. You can generate 2 reports (one for backend, one for frontend API with Cypress and API). to different directories. Then you can combine them into one report with `n

[2022-04-05 16:54] iFaxity commented on #24
Regarding this issue I have implemented a fix and will be testing it. Hopefully it will be up before next week, I might have to run the testing. If you would be interested I can push the fix in a branch and you could independently test if it is working in your environment as well.

[2022-04-05 16:59] reintroducing commented on #24
@iFaxity Sure, I'd be glad to help test this in my environment. Just let me know where you put it and I'll give it a go. Thank you.

[2022-04-05 20:03] stevez opened #25 "build failed in main branch"
node version: 14.16.1
os: mac
branch : main
command: npm run build

 npm run build

node_modules/vite/dist/node/index.d.ts:51:47 - error TS2307: Cannot find module 'ws' or its corresponding type declarations.

51 import type { WebSocket as WebSocket_2 } from 'ws';
[code]

Found 2 errors in the same file, starting at: node_modules/vite/dist/node/index.d.ts:51

[2022-04-05 20:54] iFaxity commented on #25
Hi @stevez, seems like you are using an older version of the plugin.

It could be that the vite version you have installed doesn't play well with some type declaration.

Could you try to upgrade your packages (especially vite and vite-plugin-istanbul) to a later version?

[2022-04-05 21:02] iFaxity commented on #22
Hi @charleshimmer.

Great that you solved it, yes the Cypress component testing is very specific with how vite needs to run. By default this plugin only runs when Vite is in serve mode. To prevent accidental instrumentation sneaking its way into production or staging builds.

Therefore the `forceBuildInstrument` option was added for users who know what they want and can opt into this feature to ge

[2022-04-05 21:04] stevez commented on #25
No, plugin is OK, but when I tried to build your source code from main branch. (version 2.1.0), I got the above error.

[2022-04-05 21:07] iFaxity commented on #24
Here we go @reintroducing, i've created a pull request (#26) for the branch [feature/config/nycrc](https://github.com/iFaxity/vite-plugin-istanbul/tree/feature/config/nycrc).

Let me know the results of your independent tests.

[2022-04-05 21:10] iFaxity commented on #25
Aha, ok. I see now. I'll see if i get the same problem and what causes it.

[2022-04-05 21:28] iFaxity commented on #25
I switched to the same node version on macOS and cant get the same error.

`christian<main> ~/GitHub/vite-plugin-istanbul node --version
v14.16.1
christian<main> ~/GitHub/vite-plugin-istanbul npm run build

christian<main> ~/GitHub/vite-plugin-istanbul`

Please try to remove your `node_modules` directory and run `npm install` again.

[2022-04-05 21:37] reintroducing commented on #24
@iFaxity I tried using it but got the following when running my tests:
[code]

My package.json has the following:
[code]

Is there some other way I should be pulling it?

[2022-04-08 10:57] yann-combarnous opened #28 "Include all files in coverage report, not just the ones with test against them"
We use Cypress for testing with Vite + this plugin, and run our tests in parallel.

As a tester, I would like to be able to get a global code coverage for all files selected by include/exclude options, not just the ones that have already tests against them.

So if include/exclude results in files A, B and C, and my tests just cover file C, I want to see the code coverage for A, B and C, not just C

[2022-04-08 14:33] stevez commented on #25
I noticed the  "@types/node": "^16.3.1",  so I switched to node 16.3.0, and remove all the node_modules,
here is the npm list:
├── @semantic-release/changelog@5.0.1
├── @semantic-release/git@9.0.1
├── @types/node@16.11.17
├── chalk@4.1.2
├── istanbul-lib-instrument@4.0.3
├── test-exclude@6.0.0
├── typescript@4.5.4
└── vite@2.7.12

after that the build is successful.

for some reason before, I real

[2022-04-08 21:13] stevez opened #29 "[question]: The plugin works for e2e test coverage, but can not combine the unit test coverage result"
1. The plugin works when I use playwright e2e test framework on the vite server, the coverage result is very close to the webpack + babel plugin;
2.  My unit tests is using mocha + babel istanbul plugin + nyc,
3. when I tried to merge the coverage results from both 1) and 2), the overall result is wrong.

I wonder how could I resolve this? I noticed the json file using your plugin includes the sou

[2022-04-08 22:48] iFaxity commented on #25
Hmm, this could be the case. I'll test this and see if i get the same results.

[2022-04-08 23:04] iFaxity commented on #25
Yes, i can confirm i get the same error now.

It seems to be related to the package "ws" doesnt get installed, in fact multiple "dev" packages are not installed. I'll check if there is something i can do, but most likely its a problem with vite.

[2022-04-08 23:07] iFaxity commented on #28
This could be a tricky issue.

As this goes against how Vite works.
Vite only compiles the files that are imported. I would like to guess that if some files are not included in the tests this are actually not compiled by Vite and will not pass by the plugin.

I'm not really sure if there is a way around this but i would imagine that this is not really possible at the moment.
I know that the Vite t

[2022-04-08 23:13] iFaxity commented on #24
Hi @reintroducing , there is not really a way for npm to pull down a package from github without there being a tag (which requires a build).

It would be easier to clone the repo and link it with `npm link`, then link the package in the project by using `npm link vite-plugin-istanbul`.

https://docs.npmjs.com/cli/v8/commands/npm-link

Or use `file:` links. However this also requires cloning the br

[2022-04-08 23:16] iFaxity commented on #23
This will be fixed when the PR #27 gets merged. I'll hopefully do some testing during the weekend.

[2022-04-08 23:23] iFaxity commented on #29
Hi @stevez, this is weird indeed and not something i've run into before.

I'll see what i can find, however this is probably not anything related to this plugin rather in how code-coverage reporters works. Or rather the code-coverage merger.

It's also really hard to understand/debug without having any of the data of how the coverage files looks like.

[2022-04-10 22:21] iFaxity commented on #25
I've found a fix for this by including @types/ws as a dev dependency. I'll push it up as a minor release tomorrow.

[2022-04-11 21:32] #23 closed

[2022-04-11 21:38] iFaxity commented on #28
After thinking about this for a white, i think this is not really do to this plugin and rather what reporter is used and how it is configured.

I don't have any experience with parallel tests, but would it not be the goal of the reporter to include the files that are not covered. As this plugin is only for instrumenting code and not for generating reports. Have you tested the following: https://gi

[2022-04-12 10:20] yann-combarnous opened #31 "Vite crashes with vite-plugin-istanbul 2.6.1 release"
Using build command in Vite crashes with latest release, logs:

[code]

Looks like the chalk upgrade in package.json is causing issues @iFaxity .

[2022-04-12 10:30] yann-combarnous commented on #29
@stevez , I think you run into the same issue as I do, see #28 .

[2022-04-12 10:35] yann-combarnous commented on #28
Thanks. But I do not think the reporter can count covered / not covered lines / branches. Reporter are just reading `.nyc_output/out.json` file with stats from Istanbul and converting it into human/machine readable report.

So the trick could be to initialize `.nyc_output` for all files matching include/exclude. Not sure how to do this yet.

[2022-04-12 10:45] yann-combarnous commented on #28
Actually, this is also discussed on Cypress side: https://github.com/cypress-io/code-coverage/issues/539

[2022-04-12 10:59] iFaxity commented on #31
Hmm, yes i see.

I'll make a quick update by removing chalk in favor of picocolors.

[2022-04-12 11:26] iFaxity commented on #31
A new version should be out now.

Ive also deprecated the version 2.6.0 and 2.6.1 as these versions are affected.

[2022-04-12 12:17] yann-combarnous opened #33 "Vite crashes on plugin 2.6.1+ with file resolution issue"
Since version 2.6.0, our docker instance running tests can no longer parse files.

Vite version: 2.9.1
Plugin version: 2.7.0
Run instance: docker

[vite:istanbul] Plugin error - Unable to get file name for unknown file "/home/runner/work/xxx/src/index.tsx".
file: /home/runner/work/xxx/src/index.tsx
error during build:
Error: Plugin error - Unable to get file name for unknown file "/home/runner/wor

[2022-04-12 13:01] yann-combarnous commented on #28
My workaround is to disable chunk-splitting in Vite using:
[code]

Otherwise with code splitting, Vite only parses the code files loaded by the tests.

[2022-04-12 15:48] iFaxity commented on #33
Hmm.

That it is unable to resolve the filename is concerning.
I'll check if it is docker specific or some other cause

[2022-04-12 21:42] stevez opened #34 "2.7.0 issue: path name is id instead of the file path"
plugin version : 2.7.0
vite version: 2.9.1

1. first console get the warning message:
[WebServer] [plugin:vite:istanbul] context method getFileName() is not supported in serve mode. This plugin is likely not vite-compatible.
2. when you open the generated json file, it looks like:
[code]
3. please run the code in this repo for verification:
https://github.com/stevez/playwright-test-coverage/tree/i

[2022-04-13 07:10] jeppe-smith commented on #33
Getting the same error running outside docker. I don't use the default `outDir` so it might be related to that since the documentation for `getFilename` reads "The file name will be relative to `outputOptions.dir`"

[2022-04-13 16:24] iFaxity commented on #33
Yes absolutely, ill revert it immediately.

[2022-04-13 16:38] iFaxity commented on #33
A fix should be up in a few minutes.

[2022-04-13 16:41] iFaxity commented on #34
Hi, this was problem was introduced by #27 and a fix is now available as version 2.7.1

[2022-04-17 03:28] stevez commented on #34
yes it works

[2022-04-17 03:28] #34 closed

[2022-04-17 03:34] stevez commented on #29
I finally find a workaround: I used babel istanbul plugin inside the vite react plugin, for example in vite.config.js
[code]
I found this solution in the stackoverflow, it is a very smart trick.
Since my unit tests are instrumented by using babel istanbul plugin, in this way both unit tests and playwright tests are using the same way for the instrument, the 2 tests coverage merging works finally.

[2022-04-17 03:37] stevez commented on #29
I feel it is a different issue, in my use case the coverage json file includes all the source files, it seems fine for me.

[2022-04-17 03:38] stevez commented on #25
works in the 2.7.1

[2022-04-17 03:38] #25 closed

[2022-04-22 06:00] danielbayerlein opened #37 ""Unexpected identifier" after update from 2.5.1 to 2.7.1"
With version 2.7.1 I get a `Unexpected identifier` error. Version 2.5.1 works as usual.
The error occurs with version 2.7.1 only if you set the ENV `CYPRESS_COVERAGE`.

_Command_
[code]
[code]

_package.json_
[code]

_vite.config.ts_
[code]

[2022-04-29 11:13] danielbayerlein commented on #37
@iFaxity Do you know which change is responsible for this? If yes, I could create a PR for it.

[2022-04-29 14:23] iFaxity commented on #37
Hmm i can check through the history and see what change could cause this. But I have a slight idea.

The way the cypress env variable was loaded changed between those versions to use process.env instead of loading from vites loadConfig .env dictionary. As vite now only uses env variables prefixed by VITE_.

I'll check it during the weekend.

[2022-04-30 14:01] iFaxity commented on #37
After some debugging when you have that specific config vite "works" without the CYPRESS_COVERAGE=true variable, however nothing is instrumented due to the configuration (as the plugin is only enabled when the environment variable is set and is true).

As to why the plugin instruments the code badly, i'll have to check a bit more into this.

[2022-04-30 14:04] iFaxity commented on #37
For example with instrumentation my main.js file looks like this:
`js
function cov_1udboo6yip() {
  var path =
    "/mnt/c/Users/Christian/GitHub/vite-plugin-istanbul/demo/vue-demo/src/main.js";
  var hash = "0e17eaeee8e68988c1ca9be5da6ab3e7c0a78cab";
  var global = window;
  var gcv = "__coverage__";
  var coverageData = {
    path: "/mnt/c/Users/Christian/GitHub/vite-plugin-istanbul/demo/vue-dem

[2022-04-30 21:09] iFaxity commented on #37
After more investigation the source mapped contents of sourcesContent is not properly sanitized.

This was reported before in #8, however what i can see the sourcemap that gets instrumented (before and after is sanitized. After the plugin has run its transformation the process.env.NODE_ENV is not escaped at all.

This is a bit absurd but is the reason for the "Unexpected identifier" error.

[2022-05-03 05:36] danielbayerlein commented on #37
Is the solution to switch to `import.meta.env.MODE`?

[2022-05-03 08:44] iFaxity commented on #37
@danielbayerlein Maybe, the problem lies in how Vite deals with process.env variables. They are inlined as the browser doesn't support, which doesn't work well with istanbul-lib-instrumenter. As the sourcemapped content is included in the transformed code. import.meta.env variables might be treated the same, i have not tried this yet.

I don't know if there is a way to force Istanbul to not print

[2022-05-05 00:09] joshwooding commented on #8
I've been investigating this recently. This is because client-inject replaces process.env.NODE_ENV https://github.com/vitejs/vite/blob/834efe94fe2c26fcdeabcc34a667dcc6a52326ee/packages/vite/src/node/plugins/clientInjections.ts#L56

I'm not sure how to work around but I'm wondering if we can just delete the sourcesContent string? As far as I can tell it's optional and istanbul-lib-instrument doesn'

[2022-05-05 18:44] #8 closed

[2022-05-05 18:46] iFaxity commented on #37
This should be fixed by #39, it was just merged and will be published in a minute

[2022-05-05 18:47] #37 closed

[2022-05-05 18:47] #31 closed

[2022-05-05 21:14] matrunchyk commented on #8
Wow guys you are amazing!!! 🥇 Thank you @joshwooding and @iFaxity

[2022-05-06 14:43] danielbayerlein commented on #37
Thank you ❤️

[2022-05-23 11:21] kdhttps opened #40 "window.__coverage__ is undefined"
I added this plugin in my vue3 vite app. my configurations are as given below:

[code]

[code]

[code]

I built my app using `vue-tsc --noEmit && vite build` and run it on the server. After this tried `window.__coverage__` in a browser console but got `undefined`.

Am I missing anything here? Please guide! thanks!

[2022-05-25 13:37] kdhttps commented on #40
@slikts thanks but it is still not working. I set `forceBuildInstrument: true` in `vite.config.ts`

[2022-05-31 08:24] songjiachao commented on #14
Is there a solution to resolve this problem?

[2022-05-31 11:18] kdhttps opened #41 "feat: add envPrefix vite config support for env variable"
## Describe the issue
I have `envPrefix: "FRONTEND_"` config in my `vite.config.ts`. Due to this `VITE_COVERAGE` env is not really working which is hardcoded in this plugin. This plugin should support env as pe `envPrefix` config.

## Steps To Reproduce
1. configure this plugin
1. add `VITE_COVERAGE=true` (or `FRONTEND_COVERAGE=true`) in `.env` file
1. update `envPrefix: "FRONTEND_"` in `vite.conf

[2022-05-31 11:22] kdhttps commented on #40
found root cause, created new issue here https://github.com/iFaxity/vite-plugin-istanbul/issues/41

[2022-05-31 11:22] #40 closed

[2022-06-01 21:14] iFaxity commented on #14
Hey @songjiachao, not yet.

I don't really know the root cause of this. Could be due to how Vue's SFC compiler mangles the sourcemap, istanbulbabel reading the sourcemap, babel within the istanbul instrumenter, etc.. As this plugin doesn't really meddle with the sourcemap at all.

[2022-06-01 21:15] iFaxity commented on #14
Due to there being many different factors and no real way for me to debug this.

This makes finding a fix for general sourcemap errors really hard.

[2022-06-01 21:19] iFaxity commented on #41
Hi @kdhttps, thanks for submitting this issue.

Great finding! Didn't know there was a way to modify the prefix from config.
I'll work on a fix during the weekend.

[2022-06-07 12:02] #41 closed

[2022-06-07 12:08] iFaxity commented on #41
Release target within a few days.

[2022-06-10 02:17] qiguoqiang opened #43 "vue3 coverage file path incorrect"
<img width="1059" alt="image" src="https://user-images.githubusercontent.com/12483064/172976840-46001f1b-2c4b-423b-8a6b-6725b0d7c198.png">

Why do two identical file paths exist and the second path is carried after it “?vue&type=script&lang.ts“

The file Path is correct when I use forceBuildInstrument=false. When I use forceBuildInstrument=true, the filepath appears as shown in the figure above. I

[2022-06-10 22:18] iFaxity commented on #43
Hello, the same is showing in serve mode and is how Vite specifically transforms Vue code SFC components.

For example look at the comment here: https://github.com/vitejs/vite/blob/f59adf8ebe06cf1df827a813ccea6cf6ceb127dd/packages/plugin-vue-jsx/src/index.ts#L88. In other words this is not a bug but rather a feature of how Vite instruments Vue SFC files.

Why the paths are correct when forceBuildI

[2022-07-16 12:50] #24 closed

[2022-08-14 22:30] bryanjtc opened #44 "Export interface IstanbulPluginOptions"
I need to use the interface `IstanbulPluginOptions` to type check this plugin's config in files that aren't the vite config file.
This can be fixed by exporting the interface.

[2022-08-15 00:05] #44 closed

[2022-08-22 09:53] aaneitchik opened #46 "Incorrect picocolors import"
When trying to use the latest version of `vite-plugin-istanbul` like this:
[code]

An error occurs:
[code]

It seems picocolors only [supports](https://github.com/alexeyraspopov/picocolors/issues/48#issuecomment-1180497495) default exports, so I believe to fix this issue a default import should be used [here](https://github.com/iFaxity/vite-plugin-istanbul/blob/5ef9ec2443ff6944d922ebedcf43beb7a829

[2022-08-24 06:41] thednp opened #48 "Istanbul ignore doesn't work?"
Sup folks, thanks for your hard work!!

I recently started working on vite compilers and a new Cypress v10 implementation, after some time of tinkering I finally made it work.

The problem is that ignore istanbul directives don't work, neither of them, for instance here is `/* istanbul ignore else */`

![image](https://user-images.githubusercontent.com/6761246/186347170-5ad04759-8331-41ee-9873-f5a

[2022-08-24 20:50] #46 closed

[2022-08-24 20:54] iFaxity commented on #48
Hello @thednp, thanks for the issue!

I will test this and return with my findings.
It could have something to do with another plugin that squashes the comments before the istanbul plugin gets the code. Therefore erasing any comments in the file.

As Vite does do some minification of the code this could be due to that.
But these are purely theories.

[2022-08-24 22:39] thednp commented on #48
I'm working on an esbuild version of an instanbul plugin and I made it work after some couple hours. Right now, I think as a Typescript itself can be used to create a custom pipeline, perhaps something in Vite can speed that to the max 👍

[2022-08-25 04:57] thednp commented on #48
@iFaxity if this helps you, have a look at my latest [transpiler setup](https://github.com/thednp/shorty/tree/master/cypress/plugins).

[2022-09-07 13:42] pm-pp commented on #22
@dependabot close

[2022-10-14 06:10] binvb opened #49 "dynamic instrument"
thank you for this plugin!
i was wondering can i use vite-plugin-istanbul to dynamic inscrument?
here's my config:
vite.config.js
[code]
.env
[code]

but only effect  dist file.not working at vite server: window.__coverage__  was undefined

enviromnet:
vite@3.1.6
vue@3.2.40

thank you

[2022-10-14 06:52] binvb commented on #49
sorry, i figure it out, in my case , should set forceBuildInstrument=false in development, forceBuildInstrument=true in production
thank you

[2022-10-14 06:52] #49 closed

[2022-10-21 11:47] edikdeisling opened #50 "Disable plugin during SSR"
I have a problem with the plugin during SSR.
The plugin injects code with a `window` inside and this doesn't work in the node. The error is:
[code]

I can't simply turn it off, because I need this plugin to work during middleware transformation(`app.use(vite.middlewares)`). So the issue only with modules handled during `vite.ssrLoadModule(...)`.

Vite passes `ssr` flag inside plugin `transform` fu

[2022-10-21 15:50] iFaxity commented on #50
Hello @edikdeisling, thanks for the issue!

Absolutely i've not used the plugin on an SSR project before so this is something I've completely overlooked.
I'll look into adding the ssr check within the transform and send out a fix for it when it's ready.

[2022-10-24 14:35] Emrald-TA commented on #28
I also am using Cypress with Vite + this plugin (all of this in a docker container) and wanted to achieve the same as @yann-combarnous . However the solution posted above did not work for me. @yann-combarnous if possible, could you explain your approach a bit further? I have a feeling that I am doing something wrong.

Just to be more specific about my question, below is what would like to know:

-

[2022-11-02 05:33] rathorevaibhav commented on #50
hey any update on this? Or is there any workaround in the meantime? I'm using a Nuxt3 project and getting the same error for the window object.

[2022-11-03 07:36] edikdeisling commented on #50
@rathorevaibhav you can wrap the plugin that way and use the wrapper. It works for me

[code]

[2022-11-03 15:51] astagi opened #51 "Does it work on Cypress 10?"
Hi,

I'm trying to use this plugin on Cypress 10, but it seems not working as expected.

I tried to configure it

[code]

anyway `window.__coverage__` is still empty and no instrumented code has been generated :(

[2022-11-03 19:48] astagi commented on #51
Update number 3: I tried to modify your code and make the plugin acting on `window.parent`, cause the code is executed inside an `iframe`

[code]

Now, `window.__coverage__` gets populated but again I get no coverage data exported on my file system 😞

[2022-11-03 22:33] astagi commented on #51
@iFaxity sorry for this issue, I resolved moving old code from `cypress/support/index.js` to `cypress/support/component.ts`. I also removed the `window.parent` workaround, it was wrong.

Thanks for this plugin!

[2022-11-03 22:33] #51 closed

[2022-11-03 23:17] #50 closed

[2022-11-03 23:27] iFaxity commented on #51
Hi @astagi, thanks for the issue!

Great that you found a solution.

[2022-11-04 11:27] rathorevaibhav commented on #50
hey @edikdeisling @iFaxity

My understanding of `options.ssr` is that it's a global property, meaning it will return `true` if I've enabled SSR in my application. If that's the case, I don't think it will transform any files right, because `options.ssr` will be true for all. Doesn't that contradict the very purpose of this plugin to instrument the code?

Or maybe my understanding of `options.ssr`

[2022-11-04 12:00] edikdeisling commented on #50
@rathorevaibhav I think that it will work as you want. When you serve SSR application through Vite you have client-side components and server-side components(which loading through vite.ssrLoadModule). So SSR=true will be only for server-side components.

The same story for a build. You build server-side and client-side applications independently. So ssr=true will be for server-part only

[2022-11-04 13:51] iFaxity commented on #50
@rathorevaibhav It is as @edikdeisling, i think you are mixing ssr from config and the options that are passed to the transform.

In a Vite plugin the transform has 3 parameters, [link to typings](https://github.com/vitejs/vite/blob/57916a476924541dd7136065ceee37ae033ca78c/packages/vite/src/node/plugin.ts#L166-L172).

The last parameter here are options passed to the transform. This gets set to `{

[2022-11-04 13:56] edikdeisling commented on #50
@iFaxity yeah, I meant exactly that) We'll have ssr in the transform hook only for server-proceed files

[2022-11-15 13:30] Emrald-TA commented on #22
@charleshimmer and @iFaxity , I am trying to get coverage for a Vue+Vite app using Cypress as the test framework. I have a similar setup, except that I am trying to run coverage on the `./dist` folder post building the app. However, I am still getting coverage for the `./src` folder for some reason and no coverage information from the `./dist` folder. All the files do show up in the report but cov

[2022-11-17 10:44] dmorenoAN opened #54 "Vite-plugin-istanbul "requireEnv: false" causes react-unity-webgl stop working."
Hi, i have been in a trouble with the thing mentioned in title. This plugin has conflicts with "react-unity-webgl".

Not working code
<pre>
export default defineConfig({
  plugins: [react(), svgr(), istanbul({ cypress: true, requireEnv: false })],
  server: {
    port: 8000,
    host: "0.0.0.0",
  },
});
</pre>

Working code
<pre>
export default defineConfig({
  plugins: [react(), svgr(), istanbul

[2022-11-19 00:59] iFaxity commented on #54
Hi @dmorenoAN, thanks for the issue!

I don't think the plugin has any conflict with the package mentioned, as it does not jack into Vite as a plugin.

I see that you are using the switch `cypress: true` which changes the required coverage variable from `VITE_COVERAGE` to `CYPRESS_COVERAGE`. `requireEnv` is really only used to require the environment variable to be set in order to actually do any

[2022-11-21 08:41] dmorenoAN commented on #54
Hi @iFaxity, i hope so!

I did a basic configuration or none configuration for both plugins, so, i don't think it is a setup bug related.

I reproduced the error in a clean project too with 0 configuration. I deleted it but i can tell you the steps..

Install vite 3.2.3 and initialize a project (react + ts)
Install vite-plugin-istanbul and use it as described in vite.config.ts
Install react-unity-

[2022-11-25 04:57] rathorevaibhav commented on #50
@iFaxity @edikdeisling thanks for your explanation and for the new release!

With the latest version, the error `window is not defined` is does not appear anymore, however, I've hit a roadblock with the added fix. My Nuxt3 app is not getting compiled properly, and even though there are no errors in terminal when I run `npm run dev`, on browser, the raw Vue code appears.

For reference, here's a sc

[2022-11-26 07:38] rathorevaibhav commented on #50
@edikdeisling thanks. Though I'm getting `options.ssr` value as both true & false for different files, it does seems like something related to Nuxt. I'll try checking in the Nuxt3 community.